<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.information.dao.AllstudentsMapper" >
  <resultMap id="BaseResultMap" type="com.information.entity.Allstudents" >
    <id column="STID" property="stid" jdbcType="VARCHAR" />
    <result column="id" property="id" jdbcType="VARCHAR" />
    <result column="stuname" property="stuname" jdbcType="VARCHAR" />
    <result column="stunum" property="stunum" jdbcType="VARCHAR" />
    <result column="sex" property="sex" jdbcType="VARCHAR" />
    <result column="age" property="age" jdbcType="VARCHAR" />
    <result column="nation" property="nation" jdbcType="VARCHAR" />
    <result column="political" property="political" jdbcType="VARCHAR" />
    <result column="telephone" property="telephone" jdbcType="VARCHAR" />
    <result column="lauguage_ability" property="lauguageAbility" jdbcType="VARCHAR" />
    <result column="major" property="major" jdbcType="VARCHAR" />
    <result column="place" property="place" jdbcType="VARCHAR" />
    <result column="school" property="school" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    STID, id, stuname, stunum, sex, age, nation, political, telephone, lauguage_ability, 
    major, place, school
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from allstudents
    where STID = #{stid,jdbcType=VARCHAR}
  </select>

  <select id="selectNameByNum" resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List" />
    from allstudents
    where stunum = #{username}
  </select>
  <select id="selectByNum" resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List" />
    from allstudents
    where stunum = #{studentnum}
  </select>
  <select id="selectByName" resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List" />
    from allstudents
    where stuname = #{stuname}
  </select>
  <select id="getPage" resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List" />
    from allstudents
  </select>
  <select id="getAll" resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List" />
    from allstudents
  </select>
  <select id="selectByNum2" resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List" />
    from allstudents
    where stunum = #{stunum}
  </select>



  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from allstudents
    where STID = #{stid,jdbcType=VARCHAR}
  </delete>

  <insert id="insert" parameterType="com.information.entity.Allstudents" >
    insert into allstudents (STID, id, stuname, 
      stunum, sex, age, nation, 
      political, telephone, lauguage_ability, 
      major, place, school
      )
    values (#{stid,jdbcType=VARCHAR}, #{id,jdbcType=VARCHAR}, #{stuname,jdbcType=VARCHAR}, 
      #{stunum,jdbcType=VARCHAR}, #{sex,jdbcType=VARCHAR}, #{age,jdbcType=VARCHAR}, #{nation,jdbcType=VARCHAR}, 
      #{political,jdbcType=VARCHAR}, #{telephone,jdbcType=VARCHAR}, #{lauguageAbility,jdbcType=VARCHAR}, 
      #{major,jdbcType=VARCHAR}, #{place,jdbcType=VARCHAR}, #{school,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.information.entity.Allstudents" >
    insert into allstudents
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="stid != null" >
        STID,
      </if>
      <if test="id != null" >
        id,
      </if>
      <if test="stuname != null" >
        stuname,
      </if>
      <if test="stunum != null" >
        stunum,
      </if>
      <if test="sex != null" >
        sex,
      </if>
      <if test="age != null" >
        age,
      </if>
      <if test="nation != null" >
        nation,
      </if>
      <if test="political != null" >
        political,
      </if>
      <if test="telephone != null" >
        telephone,
      </if>
      <if test="lauguageAbility != null" >
        lauguage_ability,
      </if>
      <if test="major != null" >
        major,
      </if>
      <if test="place != null" >
        place,
      </if>
      <if test="school != null" >
        school,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="stid != null" >
        #{stid,jdbcType=VARCHAR},
      </if>
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="stuname != null" >
        #{stuname,jdbcType=VARCHAR},
      </if>
      <if test="stunum != null" >
        #{stunum,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        #{sex,jdbcType=VARCHAR},
      </if>
      <if test="age != null" >
        #{age,jdbcType=VARCHAR},
      </if>
      <if test="nation != null" >
        #{nation,jdbcType=VARCHAR},
      </if>
      <if test="political != null" >
        #{political,jdbcType=VARCHAR},
      </if>
      <if test="telephone != null" >
        #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="lauguageAbility != null" >
        #{lauguageAbility,jdbcType=VARCHAR},
      </if>
      <if test="major != null" >
        #{major,jdbcType=VARCHAR},
      </if>
      <if test="place != null" >
        #{place,jdbcType=VARCHAR},
      </if>
      <if test="school != null" >
        #{school,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.information.entity.Allstudents" >
    update allstudents
    <set >
      <if test="id != null" >
        id = #{id,jdbcType=VARCHAR},
      </if>
      <if test="stuname != null" >
        stuname = #{stuname,jdbcType=VARCHAR},
      </if>
      <if test="stunum != null" >
        stunum = #{stunum,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        sex = #{sex,jdbcType=VARCHAR},
      </if>
      <if test="age != null" >
        age = #{age,jdbcType=VARCHAR},
      </if>
      <if test="nation != null" >
        nation = #{nation,jdbcType=VARCHAR},
      </if>
      <if test="political != null" >
        political = #{political,jdbcType=VARCHAR},
      </if>
      <if test="telephone != null" >
        telephone = #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="lauguageAbility != null" >
        lauguage_ability = #{lauguageAbility,jdbcType=VARCHAR},
      </if>
      <if test="major != null" >
        major = #{major,jdbcType=VARCHAR},
      </if>
      <if test="place != null" >
        place = #{place,jdbcType=VARCHAR},
      </if>
      <if test="school != null" >
        school = #{school,jdbcType=VARCHAR},
      </if>
    </set>
    where STID = #{stid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.information.entity.Allstudents" >
    update allstudents
    set id = #{id,jdbcType=VARCHAR},
      stuname = #{stuname,jdbcType=VARCHAR},
      stunum = #{stunum,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=VARCHAR},
      age = #{age,jdbcType=VARCHAR},
      nation = #{nation,jdbcType=VARCHAR},
      political = #{political,jdbcType=VARCHAR},
      telephone = #{telephone,jdbcType=VARCHAR},
      lauguage_ability = #{lauguageAbility,jdbcType=VARCHAR},
      major = #{major,jdbcType=VARCHAR},
      place = #{place,jdbcType=VARCHAR},
      school = #{school,jdbcType=VARCHAR}
    where STID = #{stid,jdbcType=VARCHAR}
  </update>
</mapper>