<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.information.dao.NodesMapper" >
  <resultMap id="BaseResultMap" type="com.information.entity.Nodes" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="symbolSize" property="symbolsize" jdbcType="INTEGER" />
    <result column="category" property="category" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, symbolSize, category
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from nodes
    where id = #{id,jdbcType=VARCHAR}
  </select>

  <select id="selectAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from nodes
  </select>
  <select id="selectNodeAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from nodes

  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from nodes
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.information.entity.Nodes" >
    insert into nodes (id, name, symbolSize, 
      category)
    values (#{id,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{symbolsize,jdbcType=INTEGER}, 
      #{category,jdbcType=INTEGER})
  </insert>

  <insert id="insertNodes" parameterType="com.information.entity.Nodes" >
    insert into nodes (id, name, symbolSize,
                       category)
    values (#{nodeid,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{symbolSize,jdbcType=INTEGER},
            #{category,jdbcType=INTEGER})
  </insert>

  <insert id="insertSelective" parameterType="com.information.entity.Nodes" >
    insert into nodes
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="symbolsize != null" >
        symbolSize,
      </if>
      <if test="category != null" >
        category,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="symbolsize != null" >
        #{symbolsize,jdbcType=INTEGER},
      </if>
      <if test="category != null" >
        #{category,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.information.entity.Nodes" >
    update nodes
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="symbolsize != null" >
        symbolSize = #{symbolsize,jdbcType=INTEGER},
      </if>
      <if test="category != null" >
        category = #{category,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.information.entity.Nodes" >
    update nodes
    set name = #{name,jdbcType=VARCHAR},
      symbolSize = #{symbolsize,jdbcType=INTEGER},
      category = #{category,jdbcType=INTEGER}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>