<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.information.dao.Tea2majMapper" >
  <resultMap id="BaseResultMap" type="com.information.entity.Tea2maj" >
    <id column="START_ID" property="startId" jdbcType="VARCHAR" />
    <id column="END_ID" property="endId" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    START_ID, END_ID, name
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.information.entity.Tea2majKey" >
    select 
    <include refid="Base_Column_List" />
    from tea2maj
    where START_ID = #{startId,jdbcType=VARCHAR}
      and END_ID = #{endId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.information.entity.Tea2majKey" >
    delete from tea2maj
    where START_ID = #{startId,jdbcType=VARCHAR}
      and END_ID = #{endId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.information.entity.Tea2maj" >
    insert into tea2maj (START_ID, END_ID, name
      )
    values (#{startId,jdbcType=VARCHAR}, #{endId,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.information.entity.Tea2maj" >
    insert into tea2maj
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="startId != null" >
        START_ID,
      </if>
      <if test="endId != null" >
        END_ID,
      </if>
      <if test="name != null" >
        name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="startId != null" >
        #{startId,jdbcType=VARCHAR},
      </if>
      <if test="endId != null" >
        #{endId,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.information.entity.Tea2maj" >
    update tea2maj
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
    </set>
    where START_ID = #{startId,jdbcType=VARCHAR}
      and END_ID = #{endId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.information.entity.Tea2maj" >
    update tea2maj
    set name = #{name,jdbcType=VARCHAR}
    where START_ID = #{startId,jdbcType=VARCHAR}
      and END_ID = #{endId,jdbcType=VARCHAR}
  </update>
</mapper>