<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>重置密码</title>

  <script src="js/bootstrap.min.js"></script>
  <script src="js/jquery-3.5.1.js"></script>
  <link rel="stylesheet" href="css/login.css">

</head>
<body>
<div class="wrap">
  <div class="container">

    <div class="form-group">
      <div class="cont_form_login"><a href="#"><i class="material-icons"></i></a>
        <h1 style=": white; margin: 0; text-align: center"></h1>

        <form action="/userlogin/reset" method="post">
          <!--                    <label><input id="username" name="username" class="form-control" type="text" placeholder="用户名"/></label>-->
          <label>
            <div class="form-control" style="">
              <h1 style=": white; margin: 0; text-align: center">用户名：<span id="name"></span></h1>
            </div>
          </label>
          <label><input id="userpwd" name="userpwd" class="form-control" type="password" placeholder="密码" /></label>

          <input class="btn_login" type="submit" value="重置"/>

        </form>
      </div>

    </div>
  </div>
  <ul>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
</div>
</body>
</html>
<script>
  $.getJSON('/userlogin/getUserName',
          function(data) {
            $('#name').html(data.Username);
          });
</script>
<script>
  // 设置注册提示信息
  $(".hehe").click(function () {
    $.get('/userlogin/isLogin',
            function(data) {
              if(data.toString()=="true"){
                alert("修改成功！请登录")
              }
              else
                alert("修改失败，请重试！")
            });
  })
</script>