<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no" name="viewport">
    <title>管理员</title>



    <script src="../dist/modules/jquery.min.js"></script>
    <script src="../dist/modules/popper.js"></script>
    <script src="../dist/modules/tooltip.js"></script>
    <script src="../dist/modules/bootstrap/js/bootstrap.min.js"></script>
    <script src="../dist/modules/nicescroll/jquery.nicescroll.min.js"></script>
    <script src="../dist/modules/scroll-up-bar/dist/scroll-up-bar.min.js"></script>
    <script src="../dist/js/sa-functions.js"></script>

    <script src="../dist/modules/chart.min.js"></script>
    <script src="../dist/modules/summernote/summernote-lite.js"></script>

    <link rel="stylesheet" href="../dist/modules/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../dist/modules/ionicons/css/ionicons.min.css">
    <link rel="stylesheet" href="../dist/modules/fontawesome/web-fonts-with-css/css/fontawesome-all.min.css">

    <link rel="stylesheet" href="../dist/modules/summernote/summernote-lite.css">
    <link rel="stylesheet" href="../dist/modules/flag-icon-css/css/flag-icon.min.css">
    <link rel="stylesheet" href="../dist/css/demo.css">
    <link rel="stylesheet" href="../dist/css/style.css">
    <script src="../js/vue.js"></script>
    <script src="../js/axios.min.js"></script>


</head>
<body>
<div id="app">
    <div class="main-wrapper">
        <div class="navbar-bg"></div>
        <nav class="navbar navbar-expand-lg main-navbar">
            <form class="form-inline mr-auto">
                <ul class="navbar-nav mr-3">
                    <li><a href="#" data-toggle="sidebar" class="nav-link nav-link-lg"><i class="ion ion-navicon-round"></i></a></li>
                </ul>
                <div  id="searchte" class="search-element">
                    <input id="tename" v-model="tename" class="form-control" type="text" placeholder="查询教师" aria-label="tename">
                    <button class="btn btn-info" type="submit" @click="searchte"><i class="ion ion-search"></i></button>
                </div>
            </form>
            <div>
                <button class="btn btn-outline-dark"><a href="/addTeacher">添加教师</a></button>
            </div>
        </nav>

        <div class="main-sidebar">
            <aside id="sidebar-wrapper">

                <div class="sidebar-brand">
                    <a>基于知识图谱的个人信息管理</a>
                </div>

                <div class="sidebar-user">
                    <div class="sidebar-user-picture">
                        <img alt="image" src="../dist/img/avatar/avatar-1.jpeg">
                    </div>

                    <div class="sidebar-user-details">
                        <div class="user-name">
                            <span id="name"></span>
                        </div>
                        <div class="user-role">
                            管理员
                        </div>
                    </div>
                </div>
                <ul class="sidebar-menu">
                    <li><a href="/graph/showadmin"><i class="ion ion-ios-circle-outline"></i>首页</a></li>
                    <li>
                        <a href="#" class="has-dropdown"><i class="ion ion-ios-copy-outline"></i><span>用户管理</span></a>
                        <ul class="menu-dropdown">
                            <li><a href="/userlogin/allusers"><i class="ion ion-ios-circle-outline"></i> 用户列表</a></li>
                            <li><a href="/userlogin/alluser"><i class="ion ion-ios-circle-outline"></i> 重置密码</a></li>
                        </ul>
                    </li>

                    <li>
                        <a href="#" class="has-dropdown"><i class="ion ion-ios-copy-outline"></i><span>节点管理</span></a>
                        <ul class="menu-dropdown">
                            <li><a href="/admin/stlist"><i class="ion ion-ios-circle-outline"></i> 学生管理</a></li>
                            <li><a href="/admin/telist"><i class="ion ion-ios-circle-outline"></i> 教师管理</a></li>
                            <li><a href="/admin/colist"><i class="ion ion-ios-circle-outline"></i> 课程管理</a></li>
                            <li><a href="/admin/delist"><i class="ion ion-ios-circle-outline"></i> 部门管理</a></li>
                            <li><a href="/admin/malist"><i class="ion ion-ios-circle-outline"></i> 专业管理</a></li>
                            <li><a href="/admin/sclist"><i class="ion ion-ios-circle-outline"></i> 学校管理</a></li>
                            <li><a href="/admin/pllist"><i class="ion ion-ios-circle-outline"></i> 籍贯管理</a></li>
                        </ul>
                    </li>
                    <li><a href="/userlogin/userlist"><i class="ion ion-ios-circle-outline"></i>重置密码</a></li>
                    <li><a href="http://localhost:8080/repassword"><i class="ion ion-ios-circle-outline"></i>修改密码</a></li>
                    <li><a href="/userlogin/logout"><i class="ion ion-ios-circle-outline"></i>退出系统</a></li>

                </ul>
            </aside>
        </div>

        <div class="main-content">
            <section class="section">


                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive" style="text-align: center">
                            <table  class="table table-striped">
                                <tr>
                                    <td>姓名</td>
                                    <td>学校</td>
                                    <td>教工号</td>
                                    <td>职称</td>
                                    <td>部门</td>
                                    <td>联系电话</td>
                                    <td>联系邮箱</td>
                                    <td>邮编</td>
                                    <td>研究方向</td>
                                    <td>所在专业</td>
                                    <td>获奖情况</td>
                                    <td>论著成果</td>
                                    <td>操作</td>

                                </tr>
                                <!--使用thymeleaf 循环标签 取model中的数据 填充表格      -->
                                <tr  th:each="teacher,iterStat : ${Teachers}">
                                    <td th:text="${teacher.teName}"></td>
                                    <td th:text="${teacher.school}"></td>
                                    <td th:text="${teacher.teNum}"></td>
                                    <td th:text="${teacher.teTitle}"></td>
                                    <td th:text="${teacher.department}"></td>
                                    <td th:text="${teacher.teTelephone}"></td>
                                    <td th:text="${teacher.email}"></td>
                                    <td th:text="${teacher.postcode}"></td>
                                    <td th:text="${teacher.teIdentity}"></td>
                                    <td th:text="${teacher.major}"></td>
                                    <td th:text="${teacher.awards}"></td>
                                    <td th:text="${teacher.achievements}"></td>
                                    <td>
                                        <a th:href="@{/admin/teup(teid=${teacher.teid})}"
                                           th:text="修改"></a>-&#45;&#45;
                                        <a th:href="@{/admin/tedel(teid=${teacher.teid})}"
                                           th:text="删除"></a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
<script>
    $(".nav li").click(function () {
        $(this).css({"backgroundColor":"#eeeeee","border-bottom":"3px solid #2aabd2"});
        $(this).siblings().css({"backgroundColor":"#333333","border-bottom":"0px"});
    })

    $.getJSON('/userlogin/getUserName',
        function(data) {
            $('#name').html(data.Username);
            console.log(data.Username);
        });
</script>
<script>
    var vue=new Vue({
        el:"#searchte",
        data:{
            tename:""
        },
        methods:{
            searchte:function () {
                if(this.tename!==''){window.open('http://localhost:8080/admin/getTeacher?tename='+this.tename);}
                else{alert("请输入名称！");}
            }
        }
    })
</script>
<script src="../dist/js/scripts.js"></script>
<script src="../dist/js/custom.js"></script>
<script src="../dist/js/demo.js"></script>
</body>
</html>