<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no" name="viewport">
    <title>管理员</title>



    <script src="../dist/modules/jquery.min.js"></script>
    <script src="../dist/modules/popper.js"></script>
    <script src="../dist/modules/tooltip.js"></script>
    <script src="../dist/modules/bootstrap/js/bootstrap.min.js"></script>
    <script src="../dist/modules/nicescroll/jquery.nicescroll.min.js"></script>
    <script src="../dist/modules/scroll-up-bar/dist/scroll-up-bar.min.js"></script>
    <script src="../dist/js/sa-functions.js"></script>

    <script src="../dist/modules/chart.min.js"></script>
    <script src="../dist/modules/summernote/summernote-lite.js"></script>

    <link rel="stylesheet" href="../dist/modules/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../dist/modules/ionicons/css/ionicons.min.css">
    <link rel="stylesheet" href="../dist/modules/fontawesome/web-fonts-with-css/css/fontawesome-all.min.css">

    <link rel="stylesheet" href="../dist/modules/summernote/summernote-lite.css">
    <link rel="stylesheet" href="../dist/modules/flag-icon-css/css/flag-icon.min.css">
    <link rel="stylesheet" href="../dist/css/demo.css">
    <link rel="stylesheet" href="../dist/css/style.css">
    <script src="../js/vue.js"></script>
    <script src="../js/axios.min.js"></script>


</head>

<body>
<div id="app">
    <div class="main-wrapper">
        <div class="navbar-bg"></div>
        <nav class="navbar navbar-expand-lg main-navbar">


            <form class="form-inline mr-auto">
                <ul class="navbar-nav mr-3">
                    <li><a href="#" data-toggle="sidebar" class="nav-link nav-link-lg"><i class="ion ion-navicon-round"></i></a></li>
                </ul>
            </form>
        </nav>

        <div class="main-sidebar">
            <aside id="sidebar-wrapper">

                <div class="sidebar-brand">
                    <a>个人信息管理系统</a>
                </div>

                <div class="sidebar-user">
                    <div class="sidebar-user-picture">
                        <img alt="image" src="../dist/img/avatar/avatar-1.jpeg">
                    </div>
                    <div class="sidebar-user-details">
                        <div class="user-name">
                            <span id="name"></span>
                        </div>
                        <div class="user-role">
                            管理员
                        </div>
                    </div>
                </div>
                <ul class="sidebar-menu">
                    <li><a href="/graph/showadmin"><i class="ion ion-ios-circle-outline"></i>首页</a></li>
                    <li>
                        <a href="#" class="has-dropdown"><i class="ion ion-ios-copy-outline"></i><span>用户管理</span></a>
                        <ul class="menu-dropdown">
                            <li><a href="/userlogin/allusers"><i class="ion ion-ios-circle-outline"></i> 用户列表</a></li>
                            <li><a href="/userlogin/alluser"><i class="ion ion-ios-circle-outline"></i> 重置密码</a></li>
                        </ul>
                    </li>

                    <li>
                        <a href="#" class="has-dropdown"><i class="ion ion-ios-copy-outline"></i><span>节点管理</span></a>
                        <ul class="menu-dropdown">
                            <li><a href="/admin/stlist"><i class="ion ion-ios-circle-outline"></i> 学生管理</a></li>
                            <li><a href="/admin/telist"><i class="ion ion-ios-circle-outline"></i> 教师管理</a></li>
                            <li><a href="/admin/colist"><i class="ion ion-ios-circle-outline"></i> 课程管理</a></li>
                            <li><a href="/admin/delist"><i class="ion ion-ios-circle-outline"></i> 部门管理</a></li>
                            <li><a href="/admin/malist"><i class="ion ion-ios-circle-outline"></i> 专业管理</a></li>
                            <li><a href="/admin/sclist"><i class="ion ion-ios-circle-outline"></i> 学校管理</a></li>
                            <li><a href="/admin/pllist"><i class="ion ion-ios-circle-outline"></i> 籍贯管理</a></li>
                        </ul>
                    </li>
                    <li><a href="/userlogin/userlist"><i class="ion ion-ios-circle-outline"></i>重置密码</a></li>
                    <li><a href="http://localhost:8080/repassword"><i class="ion ion-ios-circle-outline"></i>修改密码</a></li>
                    <li><a href="/userlogin/logout"><i class="ion ion-ios-circle-outline"></i>退出系统</a></li>

                </ul>
            </aside>
        </div>

        <div class="main-content">
            <section class="section">
                <h1 class="section-header">
                    <div>修改学校信息</div>
                </h1>
                <div id="add">
                    <div class="form-group">
                        <label for="scid" class="col-sm-2 control-label">SCID</label>
                        <div class="col-sm-10">
                            <input id="scid" name="scid" type="text" th:placeholder="${schools.scid}" disabled
                                   class="form-control" v-model="scid"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="scname" class="col-sm-2 control-label">学校名称</label>
                        <div class="col-sm-10">
                            <input id="scname" name="scname" type="text" th:placeholder="${schools.scname}" disabled
                                   class="form-control" v-model="scname"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="scplace" class="col-sm-2 control-label">学校地点</label>
                        <div class="col-sm-10">
                            <input id="scplace" name="scplace" type="text" th:placeholder="${schools.scplace}"
                                   class="form-control" v-model="scplace"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="sctype" class="col-sm-2 control-label">学校类型</label>
                        <div class="col-sm-10">
                            <input id="sctype" name="sctype" type="text" th:placeholder="${schools.sctype}"
                                   class="form-control" v-model="sctype"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="sctime" class="col-sm-2 control-label">创办时间</label>
                        <div class="col-sm-10">
                            <input id="sctime" name="sctime" type="text" th:placeholder="${schools.sctime}"
                                   class="form-control" v-model="sctime"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="schoolMotto" class="col-sm-2 control-label">校风</label>
                        <div class="col-sm-10">
                            <input id="schoolMotto" name="schoolMotto" type="text" th:placeholder="${schools.schoolMotto}"
                                   class="form-control" v-model="schoolMotto"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="schoolSpirit" class="col-sm-2 control-label">校训</label>
                        <div class="col-sm-10">
                            <input id="schoolSpirit" name="schoolSpirit" type="text" th:placeholder="${schools.schoolSpirit}"
                                   class="form-control" v-model="schoolSpirit"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="teacheringStyle" class="col-sm-2 control-label">教风</label>
                        <div class="col-sm-10">
                            <input id="teacheringStyle" name="teacheringStyle" type="text" th:placeholder="${schools.teachingStyle}"
                                   class="form-control" v-model="teacheringStyle"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="styleOfStudy" class="col-sm-2 control-label">学风</label>
                        <div class="col-sm-10">
                            <input id="styleOfStudy" name="styleOfStudy" type="text" th:placeholder="${schools.styleOfStudy}"
                                   class="form-control" v-model="styleOfStudy"/>
                        </div>
                    </div>


                    <div class="form-group">
                        <button type="button" class="btn btn-danger" @click="submitForm()">添加</button>
                    </div>
                </div>
        </div>
        </section>
    </div>
</div>
</div>
<script>
    $(".nav li").click(function () {
        $(this).css({"backgroundColor":"#eeeeee","border-bottom":"3px solid #2aabd2"});
        $(this).siblings().css({"backgroundColor":"#333333","border-bottom":"0px"});
    })

    $.getJSON('/userlogin/getUserName',
        function(data) {
            $('#name').html(data.Username);
        });
</script>
<script>
    new Vue({
        el:"#add",
        data:{
            scid:"",
            scname:"",
            scplace:"",
            sctype:"",
            sctime:"",
            schoolMotto:"",
            schoolSpirit:"",
            teacheringStyle:"",
            styleOfStudy:"",

            errMsg:""
        },
        created() {
            var scid=$("#scid").attr('placeholder');
            var scname=$("#scname").attr('placeholder');
            var scplace=$("#scplace").attr('placeholder');
            var sctype=$("#sctype").attr('placeholder');
            var sctime=$("#sctime").attr('placeholder');
            var schoolMotto=$("#schoolMotto").attr('placeholder');
            var schoolSpirit=$("#schoolSpirit").attr('placeholder');
            var teacheringStyle=$("#teacheringStyle").attr('placeholder');
            var styleOfStudy=$("#styleOfStudy").attr('placeholder');

            this.scid=scid;
            this.scname=scname;
            if(scplace!==undefined)
            this.scplace=scplace;
            if(sctype!==undefined)
            this.sctype=sctype;
            if(sctime!==undefined)
            this.sctime=sctime;
            if(schoolMotto!==undefined)
            this.schoolMotto=schoolMotto;
            if(schoolSpirit!==undefined)
            this.schoolSpirit=schoolSpirit;
            if(teacheringStyle!==undefined)
            this.teacheringStyle=teacheringStyle;
            if(styleOfStudy!==undefined)
            this.styleOfStudy=styleOfStudy;
        },
        methods:{
            submitForm:function(){
                //封装表单参数
                const formDate=new FormData();
                //
                formDate.append("scid",this.scid);
                formDate.append("scname",this.scname);
                formDate.append("scplace",this.scplace);
                formDate.append("sctype",this.sctype);
                formDate.append("sctime",this.sctime);
                formDate.append("schoolMotto",this.schoolMotto);
                formDate.append("schoolSpirit",this.schoolSpirit);
                formDate.append("teacheringStyle",this.teacheringStyle);
                formDate.append("styleOfStudy",this.styleOfStudy);
                axios
                    .post('http://localhost:8080/admin/scupdate',formDate)
                    .then(response =>{
                        if(response.data.result){
                            alert("更新成功！");
                            window.location="http://localhost:8080/admin/sclist";
                        }else{
                            alert(response.data.errMsg);
                        }
                    })
                    .catch(function (error) { // 请求失败处理
                        console.log(error);
                    });
            },
        }
    })
</script>
<script src="../dist/js/scripts.js"></script>
<script src="../dist/js/custom.js"></script>
<script src="../dist/js/demo.js"></script>
</body>
</html>